## Scraping Data with Python

In [16]:
# Import packages
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [17]:
# Import data
url = 'https://www.worldometers.info/world-population/population-by-country/'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

Menggunakan **library requst** untuk mengirimkan HTTP GET kepada url yang ditentukan dan library **BeautifulSoup** untuk menguraikan konten halaman web.

In [18]:
rows = soup.find('table', {'id':'example2'}).find('tbody').find_all('tr')

### Membuat daftar (list)
*  mencari elemen `table` (tabel utama yang ingin kita scrap) dengan atribut `id` yang bernilai `example2`
*  dilakukan pencarian elemen untuk mengelompokkan isi tabel yaitu `tbody`
*  mencari semua elemen baris `tr` didalam `tbody` dengan metode `find_all()`, dimana semua baris didalam tabel akan ditemukan
*  membuat daftar(list) kosong dengan nama `countries_list` untuk menyimpan scraping data yang berupa tabel.

In [19]:
print(len(rows))

235

In [20]:
countries_list = []

In [21]:
for row in rows:
    dic = {}

    dic['Country'] = row.find_all('td')[1].text
    dic['Population 2020'] = row.find_all('td')[2].text
    dic['Yearly Change'] = row.find_all('td')[3].text
    dic['Net Change'] = row.find_all('td')[4].text
    dic['Density'] = row.find_all('td')[5].text
    dic['Land Area'] = row.find_all('td')[6].text
    dic['Migrant'] = row.find_all('td')[7].text


    countries_list.append(dic)

`countries_list.append(dic)` berfungsi untuk menambahkan data dari `dic` ke kedalam `countries_list` yang akan merepresentasikan scraping data secara keseluruhan


---

### DataFrame
Membuat DataFrame dari `countries_list` yang melibatkan fungsi library pandas dengan nama `df_countries_list` (digunakan kembali untuk menampilkan scraping data)

In [22]:
df_countries_list = pd.DataFrame(countries_list)
df_countries_list

,Country,Population 2020,Yearly Change,Net Change,Density,Land Area,Migrant
0,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399"
1,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687"
2,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806"
3,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955"
4,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379"
...,...,...,...,...,...,...,...
230,Montserrat,"4,992",0.06 %,3,50,100,
231,Falkland Islands,"3,480",3.05 %,103,0,"12,170",
232,Niue,"1,626",0.68 %,11,6,260,
233,Tokelau,"1,357",1.27 %,17,136,10,
234,Holy See,801,0.25 %,2,"2,003",0,

### Optional
Membuat dataset kedalam file excel
*  Menulis data ke dalam file Excel dalam format `xlsx`
*  Menulis DataFrame ke dalam file Excel dengan nama `Countries_Data.xlsx`. Argumen index=False digunakan untuk menghilangkan penulisan indeks baris dalam DataFrame ke file Excel.

In [23]:
writer = pd.ExcelWriter('Countries_Data.xlsx')

In [24]:
df_countries_list.to_excel('Countries_Data.xlsx', index=False)
df_countries_list.to_csv('Countries_Data.csv', index=False)